*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.8) 100%), url("header.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2%,6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    height: 150px;
}
nav h1{
    display: inline;
    position: absolute;
    top: 35px;
    left: 130px;
    font-size: 78px;
    color: white;
}
.navlink{
    flex: 1;
    text-align: right;
    position: absolute;
    top: 66px;
    right: 24px;
}
.navlink ul li{
    list-style: none;
    display: inline-block;
    padding: 12px;
    position: relative;
    
}
.navlink ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.navlink ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: #E8A137;
    transition: 0.4s;
}
.navlink ul li a:hover::after{
    width: 100%;

}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
             font-size: 70px;
}
.text-box p{
    font-size: 15px;
    margin: (10px,0px,40px);
}
.buton{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    top: 25px;
    cursor: pointer;
}
.buton:hover{
    border: 1px solid #E8A137;
    background-color: #E8A137;
    color: black;
    transition: 0.8s;
}
   /* --------blog---------------- */
   .blog{
       width: 100%;
       margin:auto;
       text-align: center;
       padding-top: 100px;
       background-color: #f1d1a1;
       
   }
   .blog h1{
       font-size: 40px;
       font-weight: 100;
       margin-top: -6px;
   }
.row{
    margin-top: 56px;
    display: flex;
    justify-content: space-around;
    
}
.cloum{
    flex-basis: 30%;
    background-color:#f1efeb ;
    border-radius: 10px;
    margin-bottom: 60px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.cloum img{
    width: 213px;
    height: 114px;
    position: relative;
    top: 6px;
}
h2{
    font-size: 15px ;
}
#colum3 img{
    position: relative;
    top: 25px; 
}
.cloum:hover{
    box-shadow: 0 0 20px 0 rgba(0 ,0 ,0, 0.9);
}
/* --------about ---------------*/
.about{
    min-height: 50vh;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 50px;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.8) 100%), url("about header.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
}
.about h1{
     font-size: 50px;
     margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 60px;

}
.about-us-row{
    display: flex;
    justify-content: space-around;
}
.about-us-cloum{
    flex-basis: 48%;
    padding: 82px 56px;
}
.about-us-cloum img{
   width: 100%;

}
.about-us-cloum h1{
    padding-top: 0;

}
.about-us-cloum p{
    padding: 15px 0 25px;
}
.about-us-cloum a{
    text-decoration: none;
    border:1px solid black ;
    color: black;
    border-radius: 5px;
    padding:10px;
    transition: 0.7s;
}
.about-us-cloum a:hover{
background: #E8A137;
border-radius: 5px;
}
/* ------cntact----------- */
.contact{
    min-height: 50vh;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 50px;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.8) 100%), url("contact.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
}
.contact h1{
     font-size: 50px;
     margin-top: 100px;
}
.location{
    width: 80%  ;
    margin: auto;
    padding: 80px 0;

}
.location iframe{
    width: 100%;
}
.contact-us
{
    width: 80%;
    margin: auto;
}
.contact-colum
{
    flex-basis: 48%;
    margin-bottom: 30px;
    
}
.contact-colum div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-colum div h4{
    font-weight: 400;
    font-size: 19px;
}
.contact-colum div .fa{
font-size: 25px;
color:#E8A137 ;
margin: 10px;
margin-right: 30px;
}
.contact-row{
    display: flex;
}
.contact-colum input,.contact-colum textarea{
    width: 100%;
    padding: 2%;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid darkgoldenrod;
}
.submit-buton{
    background: transparent;
    font-size: 15px;
    padding: 15px;
    border: 1px solid darkgoldenrod;
    transition: 0.7s;
}
.submit-buton:hover
{
    border: 1px solid darkgoldenrod;
    background-color: #E8A137;
    border-radius: 5px;
}
.footer
{
    width: 90%;
    text-align: center;
    padding: 18px;
    background-color:rgb(214, 187, 64);

}
.footer h3
{
    font-weight: 600;
    margin-top: 47px;
    margin-bottom: 6px;
}
.icon
{
    font-size: 20px;
    color:red ;
}
.stiky
{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 82px;
    height: 113px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:#E8A137 ;
    text-align: center;
    margin-right: 29px;
    color: black;
    margin-bottom: 5px;
}
nav .fa{
    display: none;
}
@media(max-width: 700px)
{
    
    
    nav img{
        width: 139px;
        height: 139px;
    }
    nav h1{
        display: inline;
        position: absolute;
        top: 35px;
        left: 130px;
        font-size: 49px;
        color: white;
    }
    .navlink{
        text-align: left;
        position: absolute;
        background: #E8A137;
        height: 100vh;
        width: 200px;
        top: 0px;
        right: -200px;
        z-index: 2;
    }
    .navlink ul li{
        display: block;
        
    }
    .navlink ul li a{
        color: white;
        text-decoration: none;
        font-size: 13px;
    }
    .navlink ul li a::after{
        content: '';
        width: 0%;
        height: 2px;
        display: block;
        background-color: black;
        transition: 0.4s;
    }
    .navlink ul li a:hover::after{
        width: 100%;
    
    }
    .text-box{
        width: 90%;
        color: white;
        position: absolute;
        top: 39%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .text-box h1{
                 font-size: 70px;
    }
    .text-box p{
        font-size: 12px;
        margin: (10px,0px,40px);
    }
    .buton{
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        padding: 12px 34px;
        font-size: 26px;
        background: transparent;
        position: relative;
        top: 89px;
        cursor: pointer;
    }
    .buton:hover{
        border: 1px solid #E8A137;
        background-color: #E8A137;
        color: black;
        transition: 0.8s;
    }
      
    nav .fa{
        display: block;
        color: white;
        margin: 24px;
        font-size: 22px;
        cursor: pointer;
    }
    .navlink ul{
        padding: 30px;
    }
}